<h1>Listing pens</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pens.each do |pen| %>
      <tr>
        <td><%= link_to 'Show', pen %></td>
        <td><%= link_to 'Edit', edit_pen_path(pen) %></td>
        <td><%= link_to 'Destroy', pen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pen', new_pen_path %>
